<!DOCTYPE html>
<html>
  <head>
    <title>Spelling Bee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!-- Header -->
    <h1>Spelling Bee</h1>

    <!-- Panagram (for debug purposes)-->
    <!-- <p class="panagram">Today's Panagram: {{panagram}}</p> -->

    <div id="game-layout">
      <!-- Honeycomb letters and entry field -->
      <div id="left-column">

        <!-- Entry container -->
        <!-- <form id="word-form" autocomplete="off"> -->
          <!-- <input type="text" name="word" id="word-input"> -->
        <!-- </form> -->

        <!-- Visible styled display -->
        <div id="word-display" contenteditable="true" spellcheck="false"></div>

        <!-- Honeycomb -->
        <div id="honeycomb"> 
          <div class="column col-1">
            <div class="hex" id="hex-5"><span class="hex-letter"></span></div>
            <div class="hex" id="hex-4"><span class="hex-letter"></span></div>
          </div>
          <div class="column col-2">
            <div class="hex" id="hex-0"><span class="hex-letter"></span></div>
            <div class="hex center" id="hex-center"><span class="hex-letter"></span></div>
            <div class="hex" id="hex-3"><span class="hex-letter"></span></div>
          </div>
            <div class="column col-3">
            <div class="hex" id="hex-1"><span class="hex-letter"></span></div>
            <div class="hex" id="hex-2"><span class="hex-letter"></span></div>
          </div>
        </div>

        <!-- Buttons -->
        <div id="button-panel">
          <button id="delete-button">Delete</button>
          <button id="shuffle-button">Shuffle</button>
          <button id="enter-button" type="submit">Enter</button>
        </div>
      </div> <!-- left column -->

      <!-- Rank status and word bank -->
      <div id="right-column">

        <!-- Score Container -->
        <div id="score-container">
          <h3>Score: <span id="score">0</span></h3>
        </div> <!-- score container -->

        <!-- Rank section -->
        <div id="rank-container">
          <p id="rank-status">Good Start:</p>
          <p id="rank-stars">○○○○○○○</p>
        </div> <!-- rank container -->

        <!-- Container section  -->
        <div id="word-list-container">
          <h3>Correct Words:</h3>
          <pre id="word-list"></pre>
        </div>

       </div> <!-- right column -->
    </div> <!-- game layout -->    

    <!-- Inline script: define the variable -->
    <script>
      window.FLASK_DATA = {
        max_score : {{ max_score | tojson }},
        panagram: {{panagram | tojson }},
        all_letters: {{all_letters | tojson}},
        center_letter: {{ center_letter | tojson }},
        ring_letters: {{ ring_letters | tojson }}
      };
    </script>

    <!-- External script: use the variable -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

  </body>
</html>
