<!DOCTYPE html>
<html>
  <head>
    <title>Spelling Bee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Spelling Bee</h1>
    <p class="panagram">Today's Panagram: {{panagram}}</p>
    <div id="score-container">
      <h3>Score: <span id="score">{{score}}</span></h3>
    </div>
    <form id="word-form" autocomplete="off">
      <input type="text" name="word" id="word-input" placeholder="Enter a word">
      <button id="enter-button" type="submit">Enter</button>
    </form>
    <div id="result"></div>
    <div id="word-list-container">
      <h3>Correct Words:</h3>
      <pre id="word-list"></pre>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
